addons/*
cache/*
cfg/autoexec.cfg
cfg/banned_ip.cfg
cfg/banned_user.cfg
cfg/config.cfg
cfg/server.cfg
custom/*
download/*
downloadlists/*
fof_scripts/hint_stats.txt
fof_scripts/intro_records.txt
maps/graphs/*
maps/soundcache/*
mapsrc/*
materialsrc/*
screenshots/*
user_custom/*
*.bak
*.cache
*.dem
*.pdb
*.tmp
*.vtf
stats.txt
voice_ban.dt